<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DB.Linq.Properties.Settings.SSF" connectionString="Data Source=flux\sql14;Initial Catalog=SSF;Persist Security Info=True;User ID=sa;Connect Timeout=5"
            providerName="System.Data.SqlClient" />
        <add name="DB.Linq.Properties.Settings.k014ConnectionString"
            connectionString="Data Source=flux\sql14;Initial Catalog=k014;Persist Security Info=True;User ID=sa;Password=naa;Connect Timeout=5"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
