<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DB.Properties.Settings.HLSNMNAAConnectionString" connectionString="Data Source=flux\sql14;Initial Catalog=HL14;Persist Security Info=True;User ID=sa;Password=naa;Connect Timeout=5" providerName="System.Data.SqlClient" />
    <add name="DB.Properties.Settings.NAAConnectionString" connectionString="Data Source=flux\sql14;Initial Catalog=k014;Persist Security Info=True;User ID=sa;Password=naa;Connect Timeout=5" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <DB.Properties.Settings>
      <setting name="SpectraFolder" serializeAs="String">
        <value>\\scksrv1\gkd\DOKUMENT\LRM\LABO_NAA\METINGEN\</value>
      </setting>
      <setting name="SpectraServer" serializeAs="String">
        <value>PC1533</value>
      </setting>
      <setting name="deployPath" serializeAs="String">
        <value>\\scksrv1\gkd\DOKUMENT\LRM\_Software_Ontwikkeling\ex_RNM_Archief\k0X\</value>
      </setting>
    </DB.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>